when-then-zen.local.cetacean.club:5000 {
	tls off
	root .
	internal /README.md
	internal /templates
	internal /LICENSE
	internal /Caddyfile
	ext .md

	browse /bonus
	browse /meditation templates/index.html
	browse /skills templates/index.html

	markdown / {
		template templates/page.html
	}
}

