main {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

body {
  background: #282828;
  color:      #ebdbb2;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #b16286;
  background-color: #1d2021;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
}
