<!DOCTYPE html>
<html>
	<head>
		<title>{{.Doc.title}}</title>
		<link rel="stylesheet" href="/gruvbox.css">
	</head>
	<body id="top">
    <main>
      <nav class="nav">
		    <a href="/">When Then Zen</a> -
        <a href="/intro.md">Introduction</a> - 
			  <a href="/terms.md">Terms</a> - 
			  <a href="/meditation">Meditation</a> - 
			  <a href="/skills">Skills</a>
		  </nav>

  	  {{.Doc.body}}

      <hr />

		  <footer class="is-text-center">
			  <p><a href="#top">Back to top</a> - <a href="https://github.com/Xe/when-then-zen">Report an Issue</a> - Created by <a href="https://christine.website>Christine Dodrill</a> - Donate on <a href="https://patreon.com/cadey">Patreon</a></p>
			  <p>Feedback and contributions are welcome.</p>
		  </footer>
	  </main>
  </body>
</html>

